
body {
    background-image: url('background.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 


.grid {
    width: 800px;
    height: 800px;
    border: 1px solid rgb(0, 255, 0);
    margin: 0 auto;
  }

.grid div {
    width: 38px;
    height: 38px;
    border: 1px black dotted;
	float: left;
  }
  
.buttonGroup
{
	display: flex;
	align-items: center;
	justify-content: center;
  padding: 20px;
}

.blue {
    /* background: blue; */
    background-image: url('snake.jpg');
    background-size: cover;
	}
  
.red {
	  /* background: red; */
    background-image: url('wall.jpg');
    background-size: cover;
	}

.green {
    /* background: green; */
    background-image: url('Apple.PNG');
    background-size: cover;
	}
  
.white {
	  /* background: white; */
    background-image: url('map.PNG');
    background-size: cover;
	}

.enemy {
    background-image: url('enemy.PNG');
    background-size: cover;
}

.game-details {
  width: 600px;
  height: 50px;
  background-color: #000000;
  color:rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.game-details .score {
  margin-right: 80px; /* Score와 High Score 사이 간격 조절 */
}

.game-details .high-score {
  margin-left: 80px; /* Score와 High Score 사이 간격 조절 */
}

.parent {
  position: relative;
}

.level {
  color:rgb(253, 249, 3);
  font-size: 2rem;
  width: 150px;
  height: 50px;
  font-weight: 800;
  text-align: center;
  background-color: #000000;
  position: absolute;
  right: 400;
}
